.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
a { color: inherit; } 


.screen {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: -100px;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}


.forgotpassword-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}

  
.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}

  
.register-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}


.restaurants{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-class {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.column {
  flex-direction: column;
}





.latest-rating {
  margin: 60px 30px;
}

.shadow {
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}


.review-form form {
  width: auto;
}

textarea {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
}

.add-restaurant {
  width: 100%;
  display: flex;
  justify-content: end;
}

.add-restaurant button{
  width: 200px;
}

.user-form{
  min-width: 300px;
}



/* table-styles */

th, td, table {
  padding: 15px 30px;
}

th {
  font-size: larger;
  text-align: left;
} 

td {
  font-size: medium;
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

.card-icons {
  display: flex;
  justify-content: space-around;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}


.reservation {
  display: flex;
}


.theme-icon {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.dark-mode img {
  filter: invert(1) hue-rotate(180deg);
}

@media only screen 
   and (min-width : 768px) {
   .screen {
    padding: 20px;
   }
}

@media only screen 
   and (min-width : 320px) {
    .screen {
      padding: 10px;
     }

     .review-card {
      /* width: 600px; */
      padding: 10px 10px;
      margin: 10px auto;      
    }
}

@media only screen 
   and (min-width : 200px) {
    .screen {
      padding: 2px;
     }
}
